.m1{
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
}
.MySlide{
    color: black!important;
}

.circle{
    color: gray!important;
    font-size: 5rem;
}
.p1{
    padding-left: 7rem;
    font-size: 1.1rem;
    font-weight: 600;
}
.pb{
    margin-bottom: 2rem;
}
.sup{
    font-size: 1rem;
}
.ul li{
    font-weight: 600;  
    padding-bottom: 1rem; 
}
.pbj{
    padding-top: 3rem;
}
.j{
    background-color: papayawhip;
}